{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block field_sets %}
    {% if product_id %}
        <ul class="custom-object-tools object-tools">
            <li>
                <a href="{% url 'price_variation_table' product_id %}" class="btn btn-high btn-success" style="background-color: rgb(25, 195, 125);">Exportar variação de preço</a>
            </li>
        </ul>

        <div class="module">
            <canvas id="myChart" width="400" height="85"></canvas>
        </div>
    {% endif %}
    
    {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
    {% endfor %}

{% endblock %}

{% block after_field_sets %}
    <style>

        .custom-object-tools {
            position: relative;
            right: 100px;
            
        }

        @media screen and (max-width: 768px) {
            .custom-object-tools {
            right: 26px;
            }
        }

    </style>

    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for date in created_at %}'{{ date|date:"d/m/Y H:i"}}',{% endfor %}],
            datasets: [{
                label: 'Variação de preço',
                data: {{ prices }},
                backgroundColor: 'rgb(25, 195, 125)', 
                borderColor: 'rgb(25, 195, 125)', 
                borderWidth: 1, 
            }]
        },
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: 'VARIAÇÃO DE PREÇO AO LONGO DO TEMPO', 
                    fontSize: 16, 
                },
                legend: {
                    display: false, 
                },
            },
            scales: {
                x: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Período', 
                    },
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Preço', 
                    },
                },
            },
        },
    });
    </script>
{% endblock %}
